@import '/src/assets/css/variable.scss';

// multiple tab
.tab__panel {
    display: flex;
    flex-direction: column;
    height: 100%;

    .item-tabs {
        width: 120px;
        text-align: center;
        cursor: pointer;

        &.active {
            border-bottom: 3px solid $primary;
            font-weight: 700;
        }
    }

    .tab__content {
        height: 100%;
        display: flex;
        background-color: $white;
    }
}